<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel=“canonical” href=“https://sbyjs-spa.netlify.app/” />
    <meta name="google-site-verification" content="1A8FKGw-yk7EB3dV0jPcwFYxoZcZtf8vaSIW8r2Gk1o" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <h1>Hello App!</h1>
      <router-view></router-view>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
